<footer class="footer bg-darkBlue mt-sm-10 mt-5">
    <div class="content">
        <div class="footer-content">
            <h2>Контакты</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-left">
                        <div class="footer-title">
                            <p>Главный офис:</p>
                        </div>
                        <div class="footer-text">
                            <p>Новосибирск, Северный пр. 7/10а</p>
                            <p>+7-983-129-98-09</p>
                            <p>mail@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-right">
                        <div class="footer-title">
                            <p>Подразделения компании:</p>
                        </div>
                        <div class="footer-text">
                            <p>Москва, Мамыри, Калужское ш., 10</p>
                            <p>Екатеринбург, ул.Артинская, 25 стр.1</p>
                            <p>+7 968-220-62-89</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="copyright-content">
                    <div class="copyright-logo d-md-none d-block">
                        <a href="/" class="logo"></a>
                    </div>
                    <div class="copyright-item">
                        <div class="copyright-link">
                            <i class="icon icon-phone"></i> <a href="tel:89831299809">+7-983-129-98-09</a>
                        </div>
                        <div class="copyright-link border-light">
                            <i class="icon icon-email"></i> <a href="mailto:mail@gmail.com">mail@gmail.com</a>
                        </div>
                    </div>
                    <div class="copyright-logo d-md-block d-none">
                        <a href="/" class="logo"></a>
                    </div>
                    <div class="copyright-item border-light">
                        <p>© Strategic holding company, 2020</p>
                        <a href="#">Политика конфиденциальности</a>
                    </div>
                </div>
                <div class="copyright-site">
                    <p>Дизайн и разработка сайта: <a href="#">«Идея-Плюс»</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>