<header class="header">
    <div class="content">
        <div class="header-content">
            <div class="header-logo">
                <a href="/" class="logo"></a>
            </div>
            <div class="desktopMenu d-lg-block d-none">
                <ul class="desktopMenu-ul">
                    <li class="desktopMenu-li">
                        <a href="#">Главная</a>
                    </li>
                    <li class="desktopMenu-li">
                        <a href="#">О компании</a>
                    </li>
                    <li class="desktopMenu-li">
                        <a href="#">Услуги</a>
                    </li>
                    <li class="desktopMenu-li">
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </div>
            <div class="header-price d-lg-block d-none">
                <ul>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#openModal">Рассчитать стоимость</a>
                    </li>
                </ul>
            </div>
            <div class="mobileMenu d-lg-none d-block">
                <div class="mobileMenu-content">
                    <div class="mobileMenu-burger">
                        <button class="js-sideBarCtrl">
                            <span class="burger"></span>
                        </button>
                        <div class="sideBar">
                            <div class="sideBar-content">
                                <div class="content">
                                    <div class="sideBar-close">
                                        <div class="close js-sideBarCtrl"></div>
                                    </div>
                                    <div class="menu">
                                        <ul class="menu-ul">
                                            <li class="menu-li">
                                                <a href="#" class="menu-a">Главная</a>
                                            </li>
                                            <li class="menu-li">
                                                <a href="#" class="menu-a">О компании</a>
                                            </li>
                                            <li class="menu-li">
                                                <a href="#" class="menu-a">Услуги</a>
                                            </li>
                                            <li class="menu-li">
                                                <a href="#" class="menu-a">Контакты</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mobileMenu-price">
                                        <ul>
                                            <li>
                                                <a href="#" data-toggle="modal" data-target="#openModal">Рассчитать
                                                    стоимость</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


